@import "bootstrap-sprockets";
@import "bootstrap";

.page{
	margin-top: 70px;
}

.sign-up{
	text-align: center;	
}

.create-employee-btn{
	margin-top: 20px;
	margin-left: 200px;
	margin-bottom: 20px;	
}

.content {
    display: block;
    margin-left: 60px;
}
